.line-chart  > div {
height: 300px !important;
}
.line_chart_box > div {
    z-index: 1 !important;
}
.line_chart_box  svg {
    z-index: 1 !important;
}
#SvgjsSvg1118{
    z-index: 1 !important;
}
foreignObject {
    z-index: 1 !important;

}