@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.main-container {
  width: calc(100vw - 70px) !important;
  box-sizing: border-box !important;
  padding: 0 30px;
}

@media screen and (max-width:1024px) {
  .main-container {
    padding: 0 15px 0 30px;
  }
}

@media screen and (max-width:768px) {
  .main-container {
    width: 100% !important;
    padding: 0 10px;

  }
}
body {
  background-color: #F7F8FB;
  overflow-x: hidden ;
}